.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery a[data-fancybox] {
  flex-grow: 1;
  object-fit: cover;
  margin: 2px;
  display: flex;
  width: 25%;
}

.gallery a[data-fancybox] img {
  height: 250px;
  width: auto;
  max-width: inherit;
  display: inherit;
  margin: 0;
  padding: 1px;
  box-shadow: none;
  vertical-align: inherit;
  object-fit: cover;
  flex-grow: 1;
  width: 25%;
}

body {
  /* font-family: 'LatoLatinWeb', Avenir, HelveticaNeue-Light, "Helvetica Neue Light",
               "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-family: 'Open Sans', sans-serif;
  color: #141823;
  font-size: 1.1em;
  background-color: #ecedef;
  margin: 0;
  padding: 0 0 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  word-break: break-word;
}

/* Menu font-size and things */
.hamburger-menu-overlay-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8em;
  line-height: 1.7;
  color: white;
}

/* Date font-size in a post */
.post-date {
  display: block;
  color: #7a7b7c;
  font-size: 0.9em;
  margin: 0;
}

/* Main title font-size */
.list-header-title {
  font-family: 'Montserrat', sans-serif;
  margin: 0.1em 0 0.2em 0;
  font-size: 2.5em;
  text-transform: uppercase;
}

.list-header-subtext {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.6;
  margin: 0;
}

.card-subtext {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 0.85em;
}

/* Round container for profile picture */
.crop {
  border-radius: 50%;
  max-width: 150px;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

/* Social media button */
/* ------------------- */

.fa {
  padding: 8px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  /* font-family: "FontAwesome"; */
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

/* Center-aligned social media button */
.rata-tengah {
  text-align: center;
}

/* Gambar rata tengah (centered) */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.responsive{
  /* width: 100%; */
  max-width: 85%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}