<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ if not .IsHome }}{{with .Title }}{{ . }} &middot; {{ end }}{{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
  {{ if (fileExists "static/apple-touch-icon.png") -}}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  {{ end -}}
  {{ if (fileExists "static/favicon-32x32.png") -}}
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  {{ end -}}
  {{ if (fileExists "static/favicon-16x16.png") -}}
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  {{ end -}}
  {{ if (fileExists "static/site.webmanifest") -}}
  <link rel="manifest" href="/site.webmanifest">
  {{ end -}}
  {{ if (fileExists "static/safari-pinned-tab.svg") -}}
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  {{ end -}}
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css"
    integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"
    integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"
    integrity="sha256-yt2kYMy0w8AbtF89WXb2P1rfjcP/HTHLT7097U8Y5b8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  {{ $mainStyle := resources.Get "css/style.css" }}
  {{ $xcodeStyle := resources.Get "css/xcode.css" }}
  {{ $fontStyle := resources.Get "css/latolatinfonts.css" }}
  {{ $overrideStyle := resources.Get "css/override.css" }}
  {{ $style := slice $xcodeStyle $fontStyle $mainStyle $overrideStyle | resources.Concat "css/concated.css" | minify }}
  <link href="{{ $style.Permalink }}" rel="stylesheet">
  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  {{ template "_internal/google_analytics.html" . }}
  {{ if isset $.Site.Params "bgimg" -}}
  <style>
    body {
      background: #ecedef url("{{ $.Site.Params.bgimg | absURL | safeCSS }}") repeat;
    }
  </style>
  {{- end }}
</head>